* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    /* Add a background color to the body for better contrast */
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 150px;
}

.logo {
    background-image: url("amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
    transition: border 0.3s ease;
}

.border:hover {
    border: 1.5px solid white;
}

/* Box 2 */

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 14px;
}

.add-sec {
    font-size: 1rem;
    margin-left: 2px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* Box 3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: #febd68;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover {
    cursor: pointer;
    border: 3px solid orange;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1.2rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f1111;
    font-size: 1.2rem;
}

/* Box 4 */

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* Box 6 */

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel-ops button {
    margin-right: 10px;
    background-color: #222f3d;
    color: #ffffff;
    cursor: pointer;
    border: 1.5px solid transparent;
    padding: 8px;
    transition: border 0.3s ease;
}

.panel-ops{
    width: 90%;
}

.panel-ops button:hover {
    border: 1.5px solid white; 
}

/* hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content:center;
    align-items:flex-end;
}

/*shop section*/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(89, 169, 141);
}
.box{
    height: 400px;
    width: 23%;
    background-color:rgb(247, 255, 255);
    padding: 20px 0px 15px;
    margin-top: 1rem;
    text-decoration: bold;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.box:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.box-img{
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}

.box-content p{
    color: rgb(0, 98, 255);  
}

/* footer */
footer{
    margin-top: 1rem;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 0.85rem;
}

.foot-panel2{
    height: 400px;
    padding-top: 3rem;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content:space-evenly;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration:none ;
}

ul a{
    display: block;
    margin-top: 10px;
    font-size: 0.85rem;
    opacity: 0.8;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.1px solid rgb(181, 181, 181);
    height: 70px;
    display: flex;
    justify-content: center;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 75px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding-top: 5px;
}